body {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.parent-slider.max-w-screen-lg.mx-auto img {
  height: 50vh;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  line-height: 42px;
  /* background: #fff; */
  /* color: #000 !important; */
}
.buttons-new.flex.justify-center.mt-4 .mx-2 {
  background: green;
  padding: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
}
.website-star-line .mx-2 {
  background: blue;
  padding: 10px 15px;
  margin: 20px 10px;
  border-radius: 10px;
  color: #fff;
}
.card-bg {
  background: #4169E1;
}

.justify-between {
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
.card-new.p-8 {
  border-bottom: 5px solid #fff;
  color: #fff !important;
}
a.btn-card {
  background: #fff;
  padding: 10px 30px;
  color: #000;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}


.App {
  text-align: center;
  background: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010713;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
